
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  margin: 20px 0;
}


.container {
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
    justify-content: space-between;
  }
}


input, select, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="date"] {
  width: 100%;
}

@media (min-width: 768px) {
  input[type="date"], select {
    width: 48%;
    margin-right: 4%;
  }
}


@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .filter-container, .expense-history-container {
    padding: 15px;
  }

  .expense-history-container {
    width: 100%;
  }

  .expense-summary {
    width: 100%;
    margin-top: 20px;
  }
}
